body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

#buttonMove {
  position: fixed;
  width: 100%;
  color: red;
}

#container {
  position: fixed;
  bottom: 0;
  background-color: red;
}

#canvas {
  margin: auto;
  background-color: black;
}
